{% extends 'base.html.twig' %}

{% block title %}Hello WebsocketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/app/cafeVic/src/Controller/WebsocketController.php'|file_link(0) }}">src/Controller/WebsocketController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/app/cafeVic/templates/websocket/index.html.twig'|file_link(0) }}">templates/websocket/index.html.twig</a></code></li>
    </ul>
    <button onclick="enviar()">Enviar</button>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var socket;
        socket = io.connect("http://localhost:3000");
        function enviar() {
            socket.emit('set-order','pito')
        }
        socket.on('order-sent', (order) => {
            console.log("kkk");
            console.log(order);
        })
    </script>
{% endblock %}
