{% extends 'base.html.twig' %}

{% block title %}New Producte{% endblock %}
{% block nomBar %} {{ barLogged.nom }} {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10 mt-5">
    <h1>Create new Producte</h1>

    {{ include('producte/_form.html.twig') }}
        </div>
    </div>
</div>
    <a href="{{ path('producte_index') }}" class="btn btn-dark m-5"><i class="bi bi-arrow-left"></i></a>
{% endblock %}
